<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div>
        <form method="post" action="create">
            <input type="text" name="title" placeholder="Enter product title"/>
            <input type="text" name="price" placeholder="Enter product price"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Create</button>
        </form>
    </div>

    <div>All Products</div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Product title">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Filter</button>
    </form>
    {{#products}}
        <div>
            <b>{{id}}</b>
            <span>{{title}}</span>
            <i>{{price}}</i>
        </div>
    {{/products}}
</body>
</html>